<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSContactsUsageDescription</key>
	<string>Privacy - Contacts Usage Description</string>
	<key>NSCameraUsageDescription</key>
	<string>We need access to the camera.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>We need access to your photo library.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>We need access to record audio in videos.</string>
</dict>
</plist>
